html {
    font-family: 'Roboto', sans-serif;
    background-color: #0dc861e4;
    align-items: center;
}
h1 {
    text-align: center;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
 .container input,
 .container select,
 .container textarea

 {
     border: 1px solid rgb(75, 72, 72);
     border-radius: 2px;
     padding: 10px;
     display: block;
     width: 95%;
 }
 button {
    background-color: #21ad6c;
    border: 1px solid rgb(125, 123, 123);
    border-radius: 2px;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
 }
 .container label {
    display: block;
    margin-bottom: 10px;
}
